<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>web表单</title>
</head>
<body>
    <h3>4.web表单.py</h3>
    <form method="post">
        <div>
            <label>用户名</label>
            <input type="text" name="username">
        </div>
        <div>
            <label>密码</label>
            <input type="password" name="password">
        </div>
        <div>
            <label>确认密码</label>
            <input type="password" name="passwordTwo">
        </div>
        <div>
            <button type="submit">提交</button>
        </div>
    </form>
</body>
</html>